#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
button{
  margin: 10px;
}
.inputLabel{
  all: unset;
  font-size: 22px;
}
.inputLabel:focus{
  color: #0288D1;
}
